<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <img class="ppic" src="https://scontent.fixr3-2.fna.fbcdn.net/v/t39.30808-6/279261625_355957639857574_981720939911559903_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=T9Hzu27S4EIAX_cgUvQ&_nc_ht=scontent.fixr3-2.fna&oh=00_AT9eHDuaJS0ydI8_KNh7k9Yk_Z0Vm2WggynWiY3G0fIaYw&oe=62B51B54" alt="Image">
<%- include("partials/footer"); -%>
